python lists:
can contains multiple values: strings, integer, float, each value are seperated by comma:
they can construct the strings and add:

dayTemp1 = 22

dayTemp2 = 18

dayTemp3 = 20

dayTemp4 = 21

dayTemp5 = 23

dayTemp6 = 15

dayTemp7 = 17

averageTempWeek = (dayTemp1 + dayTemp2 + dayTemp3 + dayTemp4 + dayTemp5 + dayTemp6 + dayTemp7)/7 

print("Average Temperature per week ", round(averageTempWeek,2)) #the average is round a two decimals

comment functions used in lists :
type(), len(),sort(), pprint(),index(),append(),find(), list()

1) list can be multiply as well with the symbol of * 

2) check whether value is in specific list: value in [list] -- returns boolean value 

if it True / then 
if it false  / then 


3) check whether value is not in specific list: value not in [list] -- returns boolean value 

4) append (): can append either integer and strings and lists or assigned elements

5) extend(): extend one list at the end of another list, a.extend(b) but c = a + b can store in c but not modify a list

6) remove() and pop(): remove is remove specific value, strings , iterate value etc. pop() remove value index number on the list, `del` function delete the whole list into memory 

7) clear() remove all the values but it's still remain the varaible type == list 

8) when list1 = list2, list1 changes so as list2, so it's safer to use list1 = list2.copy() command 

9) change everything into lists : list()

10) sort() command sort all same type of values in a list, workable on alphabatical and numnerical, default by ascendng order. if wants to descending, set another parameter `reserver = True`.  list1.sort(reverse = True),sort() also applicable in sorting case string values, ascending from lower cases , using by `list.sort(key = str.lower)`

11) mix value list and count every value occurrences: use list.count(), output are integers 

12) list also can descending order of values, like lst.reverse()

13) help(list.[command]) can pop up help files for any list commands 

14) sum up:
clear()

copy()

count()

extend()

append()

sort()

pop()

reverse()

 # index list
 list index begins with number and follow by square [ ]
 
 example:
 
1) list [start:end:step]
 
2) list[0] ---- first value 

3) list[-1] --- last value 

**my_list = ["John", [4, 8, 12, 16]]**

example:

my_list [0][1]   - " john" first value[0] in second "o" index[2]

## sublist

In [1]:
my_list = ["John", [4, 8, 12, 16]]
print(my_list[0][1])    
print(my_list[1][3])

o
16

### For loops 
For loops are used when we want to sequentially iterate over sequences (e.g., lists, strings, dictionaries, tuples, sets). When the sequence has been iterated completely, the for loop ends.

### nested python loops
lst1 = ["small", "medium", "large"]
lst2 = ["vehicle", "toy", "house"]

for x in lst1:

    for y in lst2:
    
        print(x, y)
        
        
lst2 execute 3x3 times coz lst1 has 3 values, when 9 times completed, the loop would stop


loop inside while loops:
names = ['vehicle', 'toy', 'house']

# outer for loop
for name in names:

names = ['vehicle', 'toy', 'house']

    # inner while loop
    
    count = 0
    
    while count < 5:
    
        print(name, end=' ')
        
        
        count += 1
        
        
    print()

explaination: 

each first to last value one by one and  runs 5-0 + 1 times 




`output would be:`

vehicle vehicle vehicle vehicle vehicle

toy toy toy toy toy 

house house house house house 



## while loop with for loop

names = ['vehicle', 'toy', 'house']
count = 0

# outer while loop
while count < 5:
    # inner for loop
    for name in names:
        print(name, end=' ')
    count += 1
    print()
    
    
Explanation: run the whole list for 6 times and remove the `' ' `

# range( )

range () apply with:

range(start,end,step)

by default: 

range(parameter)

**parameter must be integers**
sequence1 = range(20) # generate 20 values starting by the number 0


sequence2 = range(15,20)# generates 15, 16, 17, 18, and 19 



sequence3 = range(0, 22, 3)#generates 0, 3, 6, 9, ...,21



sequence4 = range(-20, -201, -10)#generates -20, -30, -40, ...,-200  




sequence5 = range(200, -201, -10)# generates 200, 190, 180, ..., -200

## exe
Suppose we have a nested list where each inner list contains strings that represent symptoms exhibited by the corresponding patient. We want to write a function that takes this list as a parameter and returns a new list containing integers. For each patient, the new list should contain the number of symptoms they were exhibiting.

Here is an example:


symptom_count(['fatique', 'abdominal swelling', 'bruising'], ['loss of appetite', 'fatique'])

In [3]:

symptom = [['fatique', 'abdominal swelling', 'bruising'], ['loss of appetite', 'fatique']]
len_list = []
for sublist in symptom:
    len_list.append(len(sublist))
print(len_list)

[3, 2]

## iterate sublist two values in a list

In [5]:
# house list of lists
house = [["hallway", 11.25], ["kitchen", 18.0], ["living room", 20.0], 
         ["bedroom", 10.75], ["bathroom", 9.50]]
         
for key, y in house :
    print('The ' + key + ' is ' + str(y) + ' sqm ')

The hallway is 11.25 sqm
The kitchen is 18.0 sqm
The living room is 20.0 sqm
The bedroom is 10.75 sqm
The bathroom is 9.5 sqm

## same apply in list, use slice to add items

In [6]:
L = ['a', 'b', ['cc', 'dd', ['eee', 'fff']], 'g', 'h']

print(L[-3])
# Prints ['cc', 'dd', ['eee', 'fff']]

print(L[-3][-1])
# Prints ['eee', 'fff']

print(L[-3][-1][-2])
# Prints eee

## we know that [n] is first taking out space, and add one or more values on the sublists

['cc', 'dd', ['eee', 'fff']]
['eee', 'fff']
eee

## index change

In [7]:
L = ['a', ['bb', 'cc'], 'd']
L[1][1] = 0
print(L)
# Prints ['a', ['bb', 0], 'd']

['a', ['bb', 0], 'd']

## insert or append

In [9]:
L = ['a', ['bb', 'cc'], 'd']
L[1].append('xx')
print(L)
# Prints ['a', ['bb', 'cc', 'xx'], 'd']

['a', ['bb', 'cc', 'xx'], 'd']

In [10]:
L = ['a', ['bb', 'cc'], 'd']
L[1].insert(0,'xx')
print(L)
# Prints ['a', ['xx', 'bb', 'cc'], 'd']

['a', ['xx', 'bb', 'cc'], 'd']

## Remove items from a Nested List

In [11]:
L = ['a', ['bb', 'cc', 'dd'], 'e']
x = L[1].pop(1)
print(L)
# Prints ['a', ['bb', 'dd'], 'e']

# removed item
print(x)
# Prints cc

['a', ['bb', 'dd'], 'e']
cc

## del item

In [ ]:
L = ['a', ['bb', 'cc', 'dd'], 'e']
del L[1][1]
print(L)
# Prints ['a', ['bb', 'dd'], 'e']

## use remove() delete specify value

In [13]:
# If you’re not sure where the item is in the list, use remove() method to delete it by value.

L = ['a', ['bb', 'cc', 'dd'], 'e']
L[1].remove('cc')
print(L)
# Prints ['a', ['bb', 'dd'], 'e']

['a', ['bb', 'dd'], 'e']

In [19]:
a=[1,2,3,4,5,6]
a[-3:]
a[-6:]
a[-1:]
# a [start{smaller number}:end{larger number}]

[6]

In [20]:
#有时候列表的元素也可能是一个列表，这样就构成了嵌套列表，假如，a=[[1,2,3,4],1,2,3,4] ，a列表的第3个元素是一个子列表

#我们可以通过list[x][y]来获取子列表中的元素：

a=[1,2,['a','b','c','d'],3,4]
a[2][2]
a[2][-1]

'd'

####  我们有时可能想要对列表的每个元素进行处理，例如，我们想对列表的每个元素都加1：

a=[1,2,3,4,5]


1) [x+1 for x in a]


2) output [2, 3, 4, 5, 6]

In [22]:
## 如果我们的列表包含了嵌套列表，我们也可以使用这个语句，例如：a=[[1,2,3],[4,5,6],[7,8,9]] ，我们想使子列表中的每个元素都加1：

#a=[[1,2,3],[4,5,6],[7,8,9]]
#[[sublist[i]+1 for i in range(3) ] for sublist in a]
## [[2, 3, 4], [5, 6, 7], [8, 9, 10]]

In [30]:
a = [[1,2,3],[4,5,6],[7,8,9]]

result = []
for sublist in a:
    inner_result = []
    for i in range(3):
        inner_result.append(sublist[i]+1)
    result.append(inner_result)
print(result)

[[2, 3, 4], [5, 6, 7], [8, 9, 10]]

In [37]:
## 我想将 a=[[1,2,3],[4,5,6],[7,8,9]]  变成[[1,4,7],[2,5,8],[3,6,9]],我们可以这样做：

output= [[sublist[i]+1 for i in range(3)] for sublist in a]
print(output)

[[2, 3, 4], [5, 6, 7], [8, 9, 10]]

In [41]:
output1 = [[sublist[i]for sublist in a] for i in range(3)]
print(output1)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [42]:
h_letters = []

for letter in 'human':
    h_letters.append(letter)

print(h_letters)

['h', 'u', 'm', 'a', 'n']

In [51]:
h_letters = [letter for letter in 'human']
print(h_letters)

['h', 'u', 'm', 'a', 'n']

In [52]:
transposed = []
matrix = [[1, 2, 3, 4], [4, 5, 6, 8]]

for i in range(len(matrix[0])):
    transposed_row = []

    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

print(transposed)

[[1, 4], [2, 5], [3, 6], [4, 8]]

In [55]:
transposed = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
print(transposed)

[[1, 4], [2, 5], [3, 6], [4, 8]]

In [56]:
#将列表中所有大于2的元素+1，如把[[1,2,3],[4,5,6]]变成[[4], [5, 6, 7]]

In [65]:
a = [[1,2,3],[4,5,6],[7,8,9]]
lst3 = [[sublist[i] + 1  for i in range(3) if sublist[i] > 2 ] for sublist in a ]
print(lst3)

[[4], [5, 6, 7], [8, 9, 10]]

In [66]:
listThings = ['banana', 'apple', 'apple', 3, 10, 78, 5.5, 'apple', list(range(200,205)), 'apple', 'apple', 10.5]
appleList = [ ]

Output
listThings = ['banana', 'apple', 3, 10, 78, 5.5, list(range(200,205)), 10.5]
appleList = ['apple', 'apple', 'apple', 'apple', 'apple']

In [69]:
appleList  = [i for i in listThings if i == 'apple']
print(appleList)

['apple', 'apple', 'apple', 'apple', 'apple']

## Dictionary

To create a dictionary, you use curly brackets with key:value pairs separated by commas:

age = {"John":52, "Siobhan":21, "Ye":18}

You can also create dictionaries using a special construction method:

age = dict(John=52, Siobhan=21, Ye=18)

In [70]:
## so age = {} is equal to age = dic ()

# dictionary can be measure type() and len() as well
len(dic)
type(dic)

In [72]:
# add elements: keys and values into a dictionary 
details = {"fname":"John", "height":"190cm", "weight":"52kg", "age":30}
#add new dictionary elements
details["lname"] = "Smith"
details["interests"] = ["programming", "reading", "cooking", "gardening"]
print(details)
print(len(details))

{'fname': 'John', 'height': '190cm', 'weight': '52kg', 'age': 30, 'lname': 'Smith', 'interests': ['programming', 'reading', 'cooking', 'gardening']}
6

In [73]:
# use key to index value in dicitionary 
details = {'fname': 'John', 'height': '190cm', 'weight': '52kg', 'age': 30, 'lname': 'Smith', 'interests': ['programming', 'reading', 'cooking', 'gardening']}
#access dictionary elements
print(details["lname"])
print(details["fname"])

Smith
John

## clear or del or pop

In [74]:
# dictionary only can exectute clear(), del(), pop()
# pop() command can drop specific value 
# del() drop the whole dictionary 
# clear() clear the value for both keys and values

## more commands on the list

In [94]:
## create a dictionary 
#x = dic()
## add elements 
#x[" {x}"] = z 
# copy a dictionary 
#x1 = x.copy()
# check copy if they are different 
#x == x1
# # pop( ) removes and returns the value
#ageJohn = age.pop("John")  
#print(ageJohn)

# del ( ) removes but doesn't return the return value
#del age["Siobhan"]  


# print all the values 
age = {"John":52, "Siobhan":21, "Ye":18}
lst1 = [[x,y] for x, y in age.items()]
print(lst1)

# print keys only
age = {"John":52, "Siobhan":21, "Ye":18}
keys = [key for key in age.keys()]
print(keys)

# print values only 
values = [values for values in age.values()]
print(values)

[['John', 52], ['Siobhan', 21], ['Ye', 18]]
['John', 'Siobhan', 'Ye']
[52, 21, 18]

In [96]:
lst10 = ['John', 'Siobhan', 'Ye']
dic10 = {value: len(value) for value in lst10}
print(dic10)

{'John': 4, 'Siobhan': 7, 'Ye': 2}

# update value in dic
age["John"] = age["John"] + 1

age["Siobhan"] = age["Siobhan"] + 1

age["Ye"] = age["Ye"] + 1

## nested dictionary

In [ ]:
## update nested dictionary
#dict[outer-key][inner-key]='new-value'

In [ ]:
dict = { 'stud1_info':{'name':'Safa','Roll-num':25},'stud2_info':{'name':'Ayush','Roll-num':24}}
print("Dictionary before updation:",dict)
dict['stud2_info']['Roll-num']=78
dict['stud1_info']['name']='Riya'
print("Dictionary after updation:",dict)

In [97]:
# combining dicitionary with same len and labels 

from pprint import pprint
student1 = {'name':'John', 'age':19, 'interests':['programming', 'reading', 'cooking', 'gardening']}
student2 = {'name':'Danise', 'age':12, 'interests':['programming']}
student3 = {'name':'Simon', 'age':9, 'interests':['watching TV']}
students = {'student1': student1, 'student2': student2, 'student3': student3}
pprint(students)
print(len(students))

{'student1': {'age': 19,
              'interests': ['programming', 'reading', 'cooking', 'gardening'],
              'name': 'John'},
 'student2': {'age': 12, 'interests': ['programming'], 'name': 'Danise'},
 'student3': {'age': 9, 'interests': ['watching TV'], 'name': 'Simon'}}
3

In [99]:
numbers = [0.0, 1, 2, 3, 'four', 5.0, 'six', 7, 8.0, 9]
num_index = [[number,len(numbers)] for number in numbers]
print(num_index)

[[0.0, 10], [1, 10], [2, 10], [3, 10], ['four', 10], [5.0, 10], ['six', 10], [7, 10], [8.0, 10], [9, 10]]

In [117]:
lst1 = [1,2,3]
lst2 = [1,2,3]
list_mul = [lst1[i]*lst2[i] for i in range(len(lst1))]
print(list_mul)


#lst_send_1 = [sublist[i]+1 for i in sublist for lst in mother_list]
#print(lst_send_1)

[1, 4, 9]
[3, 4]

In [118]:
pets = ['dog','Dog','DOG','fish','cat', 'Dog']
pets.count('Dog')

2

In [125]:
lst1 = [10, 20, 9, 22, 12, 19]
lst1.sort(reverse = True)
print(lst1)

[22, 20, 19, 12, 10, 9]

3. Given a list in Python and a number x, check if the element exists in the given list.

Examples:  

Input : lst = [15, 6, 7, 10, 12, 20, 10, 28, 10]
         x = 10
Output : Exist

Input : lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
        x = 16
Output : Does not Exist

In [128]:
def check_value(lst, x):
    if x in lst:
        output = "Exist"
    else:
        output = "Does not Exist"
    return output
    
check_value( [15, 6, 7, 10, 12, 20, 10, 28, 10], 16)

'Does not Exist'

In [129]:
for i in range(4, 20, 4):
    print (i)

4
8
12
16

In [131]:
i = [i for i in range(4,20,4)]
print(i)

[4, 8, 12, 16]

In [146]:
r = "*"
output12 = ""
for r in range(5):
    output12 = r*"*"+ "   "
    r += 1
    print(output12)

*
**
***
****

In [150]:
j = 0
output13 = ""
for j in range(4):
    output13 += str(j+1)
    j+=1
    print(output13)

1
12
123
1234

In [158]:
from pprint import pprint  


day1 = {'1': 'm', '2': 't', '3': 'w'}
day2 = {'1': 'm', '2': 't', '3': 'w'}
day3 = {'1': 'm', '2': 't', '3': 'w'}
day4 = {'1': 'm', '2':'t', '3':'w'}
days = {'day1': day1, 'day2': day2, 'day3': day3, 'day4': day4}
pprint(days)

{'day1': {'1': 'm', '2': 't', '3': 'w'},
 'day2': {'1': 'm', '2': 't', '3': 'w'},
 'day3': {'1': 'm', '2': 't', '3': 'w'},
 'day4': {'1': 'm', '2': 't', '3': 'w'}}

In [159]:
from pprint import pprint
student1 = {'name':'John', 'age':19, 'interests':['programming', 'reading', 'cooking', 'gardening']}
student2 = {'name':'Danise', 'age':12, 'interests':['programming']}
student3 = {'name':'Simon', 'age':9, 'interests':['watching TV']}
students = {'student1': student1, 'student2': student2, 'student3': student3}
pprint(students)
print(len(students))

{'student1': {'age': 19,
              'interests': ['programming', 'reading', 'cooking', 'gardening'],
              'name': 'John'},
 'student2': {'age': 12, 'interests': ['programming'], 'name': 'Danise'},
 'student3': {'age': 9, 'interests': ['watching TV'], 'name': 'Simon'}}
3

In [161]:
names1 = {'John': 10, 'Denise': 20, 'David': 30}
names2 = {'David': 30, 'Emma': 12, 'Finley': 19}
names1 | names2

{'John': 10, 'Denise': 20, 'David': 30, 'Emma': 12, 'Finley': 19}

In [228]:
details = {
    "name": "Danise",
    "age": 30,
    "salary": 90000,
    "location": "Adelaide"
}
details.update({'city': details.pop('location')})
print(details)
details.update({'salary':'100000'})
print(details)
details['salary'] = 9000
print(details)

{'name': 'Danise', 'age': 30, 'salary': 90000, 'city': 'Adelaide'}
{'name': 'Danise', 'age': 30, 'salary': '100000', 'city': 'Adelaide'}
{'name': 'Danise', 'age': 30, 'salary': 9000, 'city': 'Adelaide'}

In [186]:
# In addition, you can use the update() function with key:value pairs, as shown in the examples below. 

details.update({"city": "Adelaide"})
print(details)

{'name': 'Danise', 'age': 30, 'city': 'Adelaide'}

In [185]:
details = {
    "name": "Danise",
    "age": 30,
    "salary": 90000,
    "location": "Adelaide"
}
del details["salary"] 
details.pop("location")
print(details)

{'name': 'Danise', 'age': 30}

In [189]:
#10. Change the salary of "John" to 102000 in the following dictionary.

details = {
    'emp_1': {'name': 'John', 'salary': 90000},
    'emp_2': {'name': 'Emma', 'salary': 93000},
    'emp_3': {'name': 'Danise', 'salary': 120000}
} 

details['emp_1']['salary'] = 102000
print(details)

{'emp_1': {'name': 'John', 'salary': 102000}, 'emp_2': {'name': 'Emma', 'salary': 93000}, 'emp_3': {'name': 'Danise', 'salary': 120000}}

Suppose you are given the following two lists: q14_list1 = [1,2,3,4] and q14_list2 = [5,6,7,8,9,10].

Write a Python program to transform q14_list1 to the following using the list elements in q14_list2 and exclusively using list methods.

In [193]:
q15_list = ['john', 'Danise', 'david', 'Kelly', 'william', 'Noah', 'jack', 'charlotte', 'mia', 'olivia']


[['charlotte', 'DANISE', 'david'], ['jack', 'john', 'kelly', 'mia'], ['NOAH', 'olivia', 'william']]

[['charlotte', 'DANISE', 'david'],
 ['jack', 'john', 'kelly', 'mia'],
 ['NOAH', 'olivia', 'william']]

In [219]:
out = [i.lower() for i in q15_list]
out.sort()
a = [out[3*i:3+3*i] for i in range(3)]
a

[['charlotte', 'danise', 'david'],
 ['jack', 'john', 'kelly'],
 ['mia', 'noah', 'olivia']]

## FUNCTIONS

**Basic structures**

def function_name(param1, param2, ....):

    """docstring"""
    action 1
    action 2

from **random** import **randint**

just like from **{package}** import **{function}**

***returned_value = function_name(argument1, argument2....)***

In [229]:
def count_adelaide(customers):
    count = 0
    for customer in customers:
        if customer['postcode'] >= 5000 and customer['postcode'] < 6000:
            count = count + 1
    return count

python `global` keyword:

In [237]:
x = 9 
def print_value():
    global x
    x = 12 
    print(x)
print_value()

12